<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog | Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css?version=51}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
    <div class="header-container">
       
    </div>
</header>

<main class="main">
	<section class="main-container profile-side">
		<div class="username">
			<img src="https://picsum.photos/200/300" width="50" height="50">
			<h3>Username</h3>
		</div>
		
				What is Lorem Ipsum?
				Lorem Ipsum is simply dummy text of the printing and 
				typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s, when an unknown printer 
				took a galley of type and scrambled it to make a type specimen book. 
				It has survived not only five centuries, but also the leap into 
				electronic typesetting, remaining essentially unchanged. It was 
				popularised in the 1960s with the release of Letraset sheets containing 
				Lorem Ipsum passages, and more recently with desktop publishing software 
				like Aldus PageMaker including versions of Lorem Ipsum.
	</section>
    <section class="main-container">
        <h2>Recent Posts</h2>
        <div class="posts-container" th:each="blogPost : ${blogPosts}">
            <article class="blog-post">
                <h3 th:text="${blogPost.title}">Blog Post Title</h3>
                <p class="post-meta">
                    <span th:text="${blogPost.author}">Author Name</span> | 
                    <span th:text="${blogPost.datePublished}">Date</span>
                </p>
                <p class="post-content" th:text="${#strings.abbreviate(blogPost.content, 150)}">
                    Blog post content preview...
                </p>
                <a href="#" class="read-more">Read More</a>
            </article>
        </div>
		What is Lorem Ipsum?
						Lorem Ipsum is simply dummy text of the printing and 
						typesetting industry. Lorem Ipsum has been the industry's 
						standard dummy text ever since the 1500s, when an unknown printer 
						took a galley of type and scrambled it to make a type specimen book. 
						It has survived not only five centuries, but also the leap into 
						electronic typesetting, remaining essentially unchanged. It was 
						popularised in the 1960s with the release of Letraset sheets containing 
						Lorem Ipsum passages, and more recently with desktop publishing software 
						like Aldus PageMaker including versions of Lorem Ipsum.
    </section>
	<section class="main-container right-side">
		
				What is Lorem Ipsum?
								Lorem Ipsum is simply dummy text of the printing and 
								typesetting industry. Lorem Ipsum has been the industry's 
								standard dummy text ever since the 1500s, when an unknown printer 
								took a galley of type and scrambled it to make a type specimen book. 
								It has survived not only five centuries, but also the leap into 
								electronic typesetting, remaining essentially unchanged. It was 
								popularised in the 1960s with the release of Letraset sheets containing 
								Lorem Ipsum passages, and more recently with desktop publishing software 
								like Aldus PageMaker including versions of Lorem Ipsum.
	</section>
</main>

<footer>
    <p>&copy; 2024 My Blog. All rights reserved.</p>
</footer>

</body>
</html>
